@model IEnumerable<WebApplication1.Models.MarketerTutorial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
    WebApplication1.Models.DBContext dB = new WebApplication1.Models.DBContext();
}


<div class="text-center" style="border-style:solid;">
    <h2 style="font-size:medium">ایجادآموزش برای بازاریابان</h2>
</div>
<br />
<p>


<p>
    <a class="btn btn-success" href="/Admin/MarketerTutorials/Create">ثبت جدید</a>
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover text-center">
                    <tr>
                        <th>
                            شرح آموزش
                        </th>

                        <th>
                            دارای عکس
                        </th>
                        <th>
                            دارای فایل متنی
                        </th>

                        <th>
                            امکانات
                        </th>
                    </tr>

                    @foreach (var item in ViewBag.Data.Data)
                    {
                    <tr>
                        <td style=" max-width: 40px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            @item.Description

                        </td>

                        @{
                            int Id = item.Id;
                            var hasPic = dB.MarketerTutorialFiles.Where(s => s.MarketerTutorialID == Id && s.ImageUrl !=null).FirstOrDefault();
                            if (hasPic != null )
                            {
                                <td class="text text-success text-bold"><p>هست </p></td>
                            }
                            if (hasPic == null )
                            {
                                <td class="text text-danger text-bold"><p>نیست</p></td>
                            }
                        }

                        @{
                            int _Id = item.Id;
                            var hasFile = dB.MarketerTutorialFiles.Where(s => s.MarketerTutorialID == _Id && s.FileUrl !=null).FirstOrDefault();
                            if (hasFile != null)
                            {
                                <td class="text text-success text-bold"><p>هست</p></td>
                            }
                            if (hasFile == null)
                            {
                                <td class="text text-danger text-bold"><p>نیست</p></td>
                            }
                        }



                        <td>
                            <a class="btn btn-warning" href="/Admin/MarketerTutorials/Edit/@item.Id"> ویرایش</a>|
                            <a class="btn btn-primary" href="/Admin/MarketerTutorials/Details/@item.Id"> جزییات</a>|
                            <a class="btn btn-danger" href="/Admin/MarketerTutorials/Delete/@item.Id"> حذف</a>


                        </td>
                    </tr>

                    }

                </table>
            </div>
        </div>
        @Html.Raw(ViewBag.Data.GetLinks())
    </div>
</div>

