


@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/Master.cshtml";
}

<section class="register">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 offset-lg-1 col-md-8 offset-md-2">
				<!-- register box -->
				<div class="register__wrapper">
					<div class="register__title">
						<!-- register title -->
						<h3>ثبت نام</h3>
					</div>
					<div class="register__form">
						<!-- register form -->

						<form action="/User/Store" method="post">
							<div class="form-group">
								<input type="text" name="Fullname" class="form-control" placeholder="نام و نام خانوادگی">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="" placeholder="شماره همراه">
							</div>
							<div class="form-group">
								<input type="password" name="Password" class="form-control" placeholder="رمز عبور">
							</div>
							<div class="form-group">
								<input type="text" name="Email" class="form-control" placeholder="آدرس ایمیل">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="Address" placeholder="آدرس"></textarea>
							</div>
							<div class="form-group">
								<input type="text" name="PostalCode" class="form-control" placeholder="کد پستی">

							</div>
							<div class="form-group">
								<input type="text" name="Phone" class="form-control" placeholder="شماره تلفن">


							</div>
							<div class="form-group">
								<input type="text" name="Mobile" class="form-control" placeholder="تلفن همراه">

							</div>

							<div class="form-group btn-small">
								<button type="submit" class="btn btn-color btn-full">ثبت نام</button>
							</div>
							<div class="form-group btn-small mb-0">
								<a class="btn btn-color-reverse btn-full" href="/"#">بازگشت</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="register_bg">
					<!-- register left image -->
				
					<img src="~/Content/NewDesign/assets/img/register.svg">
				</div>
			</div>
		</div>
	</div>
</section>

@if (ViewBag.Message == "registered")
{
	<script>

		swal("انجام شد", "باموفقیت ثبت نام شد", "success");

	</script>
}
else if (ViewBag.Message == "link")
{
	<script>

		swal("انجام شد", "لینک فعالسازی برای شما ارسال گردید", "success");

	</script>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
