@model IEnumerable<WebApplication1.Models.CartSharj>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
	WebApplication1.Models.DBContext dBContext = new WebApplication1.Models.DBContext();
}

<div class="text-center" style="border-style:solid;">
    <h2 style="font-size:medium">مدیریت کارت شارژ</h2>
</div>
<br />
<p>


<p>

    <a class="btn btn-success" href="/Admin/CartSharjs/Create">ثبت جدید</a>
</p>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover text-center">
					<tr>



						<th>
							قیمت کارت شارژ
						</th>
						<th>
							مقدار کارت شارژ
						</th>
						<th>
							کدکارت شارژ
						</th>

						<th>
							نوع کارت شارژ
						</th>
						<th>امکانات</th>
					</tr>

                    @foreach (var item in Model)
                    {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.SharjPrice)

					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Code)
					</td>
					<td>
						@{
							var Type = dBContext.CartSharjType.Where(s => s.Id == item.CartType).FirstOrDefault();
						}
						@if (Type != null)
						{
							@Type.Name;
						}

					</td>
			
					<td>

						<a class="btn btn-danger" href="/Admin/CartSharjs/Delete/@item.Id"> حذف</a>
					</td>
				</tr>
                    }

                </table>
</div>
</div>
</div>
</div>