@media(max-width: 1400px)
{
	.single-product
	{
		&__image
		{
			&__main-slider
			{
				height: 400px;
			}
			&__thumb-slider
			{
				.swiper-container
				{
					margin: 0
				}
			}
		}
	}
}

@media(max-width: 1200px)
{
	.single-product
	{
		&__image
		{
			&__main-slider
			{
				height: 280px;
			}
			&__thumb-slider
			{
				height: 75px;
			}
		}
	}
}

@media(max-width: 992px)
{
	.single-product
	{
		&__title
		{
			margin-bottom: 20px;
		}
		&__actions
		{
			margin-top: 0
		}
		&__image
		{
			max-width: 350px;
			margin: 0 auto;
			&__main-slider
			{
				height: 350px;
			}
		}
	}
}

@media(max-width: 768px)
{
	.product
	{
		&--slider
		{
			.swiper-container
			{
				padding: 15px 15px 15px 15px;
			}
		}
	}
	.single-product
	{
		&__title
		{
			display: block;
			h1
			{
				font-size: 18px;
				margin-bottom: 10px;
			}
		}
	}
}

@media(max-width: 576px)
{
	.single-product
	{
		&__content
		{
			padding-top: 20px;
		}
		&__options,&__price
		{
			display: block;
			margin-bottom: 20px;
		}
		&__btn
		{
			margin: 0 0 20px;
			display: block;
			a
			{
				display: block;
				text-align: center;
			}
		}
	}
	.comments
	{
		&__title
		{
			a
			{
				border: 2px solid $color;
				line-height: 46px;
				display: block;
				border-radius: 5px;
				padding: 0 15px;
				font-size: 16px;
				font-weight: 600;
				color: $color;
				text-align: center;
			}
		}
	}
}