@import '../../../__assets/scss/style';

// FACTOR
.factor
{ 
	padding: 30px 0;
	&__wrapper
	{
		background-color: #fff;
		border-radius: 10px;
		padding: 15px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
		position: relative;
		margin-bottom: 20px;
	}
	&__title
	{
		display: flex;
		align-items: center;
		padding-bottom: 15px;
		margin-bottom: 30px;
		justify-content: space-between;
		position: relative;
		&:before
		{
			position: absolute;
			bottom: 0;
			right: 0;
			height: 1px;
			width: 30%;
			background-color:#dfdfdf;
			content: '';
		}
		h3
		{
			font-size: 20px;
			font-weight: 600;
			line-height: 30px;
			color: $color;
		}
		>span
		{
			line-height: 30px;
			min-width: 30px;
			border-radius: 10px;
			color: #727272;
			font-size: 16px;
			span
			{
				margin-right: 10px;
			}
		}
	}
	&__detail
	{
		color: #727272;
		line-height: 50px;
		font-size: 15px;
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 30px;
		&__list
		{
			&--left
			{
				border-right: 1px solid #ccc;
				padding-right: 20px;
				li
				{
					display: flex;
					justify-content: space-between;
					span
					{
						&:last-child
						{
							font-size: 18px;
							small
							{
								margin-right: 5px;
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
	&__list
	{
		> .row
		{
			> [class^='col-']
			{
				&:nth-child(even)
				{
					border-right: 1px solid #ccc;
					padding-right: 15px;
				}
			}
		}
	}
	&__item
	{
		display: flex;
		margin-bottom: 30px;
		&__image
		{
			width: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__content
		{
			width: calc(100% - 100px);
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 10px 15px 10px 60px;
			&__title
			{
				h2
				{
					font-size: 16px;
					font-weight: 600;
					line-height: 40px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			&__detail
			{
				display: flex;
				align-items: center;
				justify-content: space-between;
				&__options
				{
					display: flex;
					span
					{
						display: flex;
						align-items: center;
						font-size: 14px;
						line-height: 30px;
						font-weight: 600;
						span
						{
							width: 20px;
						    height: 20px;
						    margin-left: 10px;
						    border-radius: 5px;
						}
					}
				}
				&__price
				{
					font-size: 22px;
					color: $color;
					font-weight: 600;
					small
					{
						font-size: 13px;
						margin-right: 10px;
					}
				}
			}
			&__count
			{
				position: absolute;
				left: 10px;
				top: 10px;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				background-color: rgba(104, 33, 61, 0.13);
				text-align: center;
				line-height: 40px;
				font-size: 18px;
				font-weight: 600
			}
		}
	}
	&__last-price
	{
		padding: 0 15px;
		line-height: 50px;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		background-color: $color;
		color: #fff;
		font-size: 14px;
		margin-right: auto;
		width: 250px;
		span
		{
			&:last-child
			{
				font-size: 16px;
				font-weight: 600;
				small
				{
					margin-right: 5px;
				}
			}
		}
	}
}

@import '_media';